body.dark {
    background-color: #121212;
    color: #fff;

    // home
    .home-header {
        color: #fff;
    }

    .category-container {
        border-top: 1px solid #212121;
        border-bottom: 1px solid #212121;
        border-right: 6px solid #212121;
        border-left: 6px solid #212121;
        background-color: #121212;
        .item {
        border: 1px solid #212121;
        background-color: #121212;
        -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
        a {
            color: #fff;
        }
        &[aria-selected='true'] {
            border: 2px solid #424242;
            font-weight: bolder;
        }
        &[aria-selected='true'] a {
            color: #fff;
        }
        }
    }
}