// color Palette
$primary: #9055a2;
$secondary: #56b4d3;
$gray: #e0e0e0;
$success: #007c4d;
$error: #e12c3f;

// light theme
$light-background-color: linear-gradient(#f2ebf4, #ebf6fa);
$light-text: #000000;
$light-surface: #ffffff;

// dark theme
$dark-background-color: linear-gradient(#212121, #121212);
$dark-text: #efefef;
$dark-surface: #424242;
